body{
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    height: 1080px;
}

thead{
    background-color: aqua;
}

#logo{
    width: 100%;
}

#classes{
    width: 100%;
    height: 980px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 600;
}

#classes td{
    background-color: azure;
    color: #00589b;
    margin: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: 700;
}

#classes th{
    background-color: #00589b;
    color: white;
    margin: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

header{
    display: flex;
    height: 8%;
}

#divtitulo{
    width: 80%;
}

#divtitulo h1{
    color: #00589b;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: end ;
    margin-left: 20%;
    margin-right: 20%;
}

#divimg{
    width: 20%;
}