body{
    background-color: #00589b;
}
thead{
    background-color: aqua;
}

#logo{
    height: 10%;
    width: 14%;
    margin-left: 43%;
    margin-right: auto;
}

#classes{
    width: 100%;
}
#classes td{
    background-color: azure;
}